#if HAVE_CONFIG_H
#include "config.h"
#endif

#include <windows.h>

#pragma code_page(65001)

#ifdef _DEBUG
#define VER_FILEFLAGS   VS_FF_DEBUG
#else
#define VER_FILEFLAGS   0x0L
#endif

#ifdef _WIN64
#define VER_FILEDESCRIPTION_STR     "Grape16 (64-bit)"
#define VER_ORIGINALFILENAME_STR    "grape16x64.exe"
#define VERSION_STR "0.0.1"
#else
#define VER_FILEDESCRIPTION_STR     "Grape16"
#define VER_ORIGINALFILENAME_STR    "grape16.exe"
#define VERSION_STR "0.0.1"
#endif

1 VERSIONINFO
FILEVERSION     0,0,1,0
PRODUCTVERSION  0,0,1,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904E4"
    BEGIN
      VALUE "CompanyName", "Neil Richardson"
      VALUE "FileDescription", VER_FILEDESCRIPTION_STR
      VALUE "FileVersion", VERSION_STR
      VALUE "InternalName", "grape16"
      VALUE "LegalCopyright", "Copyright © 2021 Neil Richardson"
      VALUE "OriginalFilename", VER_FILEDESCRIPTION_STR
      VALUE "ProductName", "Grape16"
      VALUE "ProductVersion", VERSION_STR
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1252
  END
END

100 ICON "grape16.ico"
GLFW_ICON ICON "grape16.ico"
